@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Comming soon */
@layer utilities {
  .animate-neon-flicker {
    animation: dimlight 5s infinite;
  }
  
  .box-reflect {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  }
}

@keyframes dimlight {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 
      0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4;
  }
}
/* Fin Comming soon */